{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    p, h3 {
        margin-left: 15%;
    }

    form {
        font-size: 1.1em;
    }

    ul {
        list-style: none;
    }
    
    .submit-button {
      background-color: #7CB9E8;
      color: white;
      opacity: 0.75;
      font-size: 1.2em;
      border-radius: 15px;
      width: 75%;
      margin-left: 15%;
    }

</style>

<br>
<h3>Reset Password</h3>
<hr>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <hr id="button-hr">
        <button class="submit-button">Change</button>
    </form>
</div>


{% endblock %}