{% load static %}
<style>
    header {
        background-color: lightblue;
        padding: 1% 1% 1% 1%;
        text-align: center;
        color:aliceblue;
        font-family: Arial, Helvetica, sans-serif;
    }
    #disclaimer {
      text-align: center;
      font-size: 0.9em;
      margin-bottom: 0;
    }
    hr {
        margin-top: 0;
        border-top: 2px solid lightblue;
    }
</style>
<header>
    <h1>Selfie Book</h1>
    <h4>Your Daily, Weekly or Monthly Selfies Go Here</h4>
</header>

<p id="disclaimer">Disclaimer: This is a personal portfolio project, created to display Django programming skills. SelfieBook is not scaled for large-scale social media use.</p>
<hr id="header-hr">
<br>